@tailwind base;
@tailwind components;
@tailwind utilities;



.major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  ul li {
    position: relative;
  }
  
  ul li .hover\:text-green-400:hover {
    color: #38a169; /* Green color on hover */
  }
  
  ul li span {
    display: block;
    height: 2px; /* Height of the glowing line */
    background-color: transparent; /* Initially transparent */
    transition: background-color 0.3s ease;
  }
  
  /* Glowing effect on hover */
  ul li a:hover span {
    background-color: #3b82f6; /* Change this to the glowing color */
    height: 3px; /* Slightly taller on hover */
  }
  


